<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Audio Sampler auf dieser Seite stammen von <br><b>Freesound</b>.</span>
                <br>
                <a target="_blank" href="https://freesound.org">freesound.org</a>
            </div>
            <div class="copyBox">
                <span>Alle Bilder, Icons auf dieser Seite stammen von <br><b>Sebastian Gamroth</b>.</span>
                <br>
            </div>
        </div>
    </div>
</section>